@use "sass:color";
@use "colors";

@mixin theme--light {
  --theme-bg: #{colors.$clr-neutral-100};
  --theme-clr: #{colors.$clr-neutral-800};
}

.theme--light {
  @include theme--light;
  color-scheme: only light;
}
